@media screen
 {
   body {font-size:38px;}
 }
 @media print
 {
   body {font-size:16px;}
sgts }

body{
    background-color:#fbfbfb;
    font-family:Verdana;
}
.calArea{
	margin:1.5px;
	background: rgba(248, 248, 248, 1) none repeat scroll 0% 0% padding-box;
	border: 1px solid #dadada;
	box-shadow: 0px 1px 0px rgba(8, 22, 37, 0.02) inset, 0px 0px 2px rgba(8, 22, 37, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.calArea:hover  span{
	display:block;
}
.calArea>span{
		display:none;
		cursor: pointer;
		float:right;
		margin-top:-58px;
		margin-right:12px;
		color:black;
		font-size:14px;
		position:relative;
}
.calArea>span:hover{
		color:red;
}
.exp,.tag,.desc{
  margin:10px;
  background: transparent;
  border: none;
  width: 100%;
  font:inherit; 
}
.ans{
  margin:5px;
 text-align: right;
margin-top: -45px;
}
.tag{
  font-size:28; 
  color:blue;
}
.desc{
  font-size: 16px;
  color: magenta;
  margin-top: auto;
  margin-bottom: 5px;
}
#title{

	background-color: #666666;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
#title,#content{
	text-align:center;
	font: 36px Verdana, sans-serif;  
	font-weight: bold;

}

#template {
    position: absolute;
    top:2%;
    right:40px;
    width:90px;
    font: 12px Verdana, sans-serif;  
	cursor: pointer;
}
#template:hover>div{
   border-bottom: 0px;
}
#template>div{
   position:relative;
   padding: 8px;
   color:#666;
   width:100%;  
   border: solid 1px #CCCCCC;
   border-radius: 2px;
   background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGCAYAAAAPDoR2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAABUSURBVBhXY/wPBAw4AGNVbcP/JUtXQLkIEBMdwcDw58+f/+nZBf9VtYzgGMQHiTOAjP3+/fv/oLBYsASIBvHB1oFJIHjz9t3/pLRsMA0DeBzEwAAAD6ZNULReW8AAAAAASUVORK5CYII=) no-repeat;
    background-position: 90px center;
	background-color:rgb(248, 248, 248);
	z-index:10;
}
#template  ul {
	position: absolute;
    right:-17px;
    width:250%;
    text-align: center;
    list-style:none;
    background-color:rgb(248, 248, 248);    
    margin:-1px;
	padding-left:0px;
    max-height:0;
	overflow:hidden;
}
#template:hover ul{
	border: solid 1px #CCCCCC; 
	max-height: 500px;
	transition: max-height 0.7s ease-in;
}
#template  li {
	position:relative;
    color:#888;
    line-height:35px;
}
#template li:hover {
	font-weight:bold;
}
#template li:hover div{
	display:block;
}
#template ul div {
	display:none;
	position:absolute;
	top:0;
	right:12px;
}
#template ul div:hover {
	color:red;
}
#add{
	position: absolute;
    top:2%;
    left:10px;
cursor: pointer;
	 color:#666;
   border: solid 1px #CCCCCC;
   border-radius: 2px;
  height:35px;
  width:35px;
  text-align: center;
  line-height:35px;
  padding-bottom:4px;
}



